<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!--自訂css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bs/index.css')}}">
    <title>BS的根目錄</title>
</head>
<body>
    <div id="main" class="container-md">
        Ex officia velit tempor officia do aliquip veniam. Veniam culpa nostrud minim non magna. Voluptate dolore esse fugiat magna sint adipisicing reprehenderit id incididunt eiusmod nostrud. Officia cillum do do aliquip ad ex ea non laborum eiusmod irure consequat. Amet do ullamco adipisicing fugiat deserunt ea minim anim sunt id. Eu consequat qui culpa deserunt nostrud nostrud aliqua deserunt elit minim excepteur nostrud irure.

Non et sit enim et mollit. Non exercitation in do voluptate labore labore ullamco veniam non Lorem. Consequat incididunt irure excepteur do labore incididunt aliqua. Labore non Lorem id reprehenderit pariatur et commodo. Mollit quis duis irure deserunt quis aliquip non ullamco. Velit commodo sunt deserunt commodo.

Id deserunt ex aliqua dolore aute nisi eu in dolor incididunt tempor. Ullamco cupidatat reprehenderit culpa enim proident esse aliqua voluptate eu qui aliqua. Non non ut cillum eiusmod adipisicing do est aute do qui aliquip. Voluptate nostrud Lorem adipisicing laboris dolore commodo ad amet cupidatat voluptate irure magna aliquip.

Consectetur cillum mollit ex sunt ullamco aute eu incididunt consequat commodo ad. Aliqua fugiat nostrud anim anim adipisicing nisi eu laboris labore proident. Lorem deserunt sint velit elit labore ullamco do. Exercitation tempor elit cupidatat dolore culpa mollit cillum cupidatat officia id culpa. Exercitation amet duis adipisicing ea eu duis commodo dolore ea excepteur aute. Officia ipsum deserunt dolore deserunt eiusmod elit ad tempor eiusmod ex elit reprehenderit.

Esse ullamco velit sunt ex ipsum dolor commodo pariatur id pariatur duis et nulla. Anim sit ex non do ullamco fugiat fugiat sunt pariatur cillum incididunt eiusmod sint enim. Ea consectetur cillum incididunt culpa eu velit veniam ad irure eiusmod. Velit enim ipsum do irure velit velit. Laboris amet in dolor exercitation ex.
    </div>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>