{% extends "base_navigation.html" %}

{% block title %}
    登入
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        
        @media (min-width: 576px) { }

    
        @media (min-width: 768px) {}


        @media (min-width: 992px) {}


        @media (min-width: 1200px) {}


        @media (min-width: 1400px) {}
    </style>
{% endblock %}


{% block content %}
    <div class="container-lg">
        <h1>登入</h1>
        <form method="POST">
            <table class="table">
                
                <tbody>
                  <tr>
                    <th scope="row">帳號</th>
                    <td>
                        <input type="text" id="email" name="email" required minlength="4" maxlength="8" size="10" />
                    </td>
                    
                  </tr>
                  <tr>
                    <th scope="row">密碼</th>
                    <td>
                        <input type="text" id="password" name="email" required minlength="4" maxlength="8" size="10" />
                    </td>
                  
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td><input type="reset" value="重設" /><input type="submit" value="確定" /></td>
                    
                  </tr>
                </tbody>
              </table>
        </form>
        {{ super() }}
    </div>
       
{% endblock %}


{% block footer %}
        &copy; Copyright 2023 by <a href="https://flask-dash-web-uym5.onrender.com">徐國堂</a>.
{% endblock %}

